.ai-header {
  height: 70px;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #007bff;
  color: white;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  span {
    font-size: 12px;
    color: #22c55e;
  }

  button {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
}